/* CONTACT PAGE */
html {
  height: 100%;
}

.completeContact {
  display: flex;
  align-items: center;
  align-content: center;
  align-self: center;
  justify-content: center;
  height: 50vh;
  background-color: rgba(0, 0, 0, 0.2);
}

.contactContent {
  padding: 10px;
  height: 400px;
  width: 600px;
}

.insideContactContent {
  text-align: center;
  margin-top: 1.5rem;
}

.contactTitle {
  color: white;
  font-size: 3.5rem;
  font-family: sans-serif;
}

.contactTitle2 {
  color: white;
  font-size: 1.5rem;
  font-weight: 250;
}

.contactTitle3 {
  color: white;
  font-size: 1.1rem;
  font-weight: 250;
}

.contactButton {
  background-color: black;
  color: white;
  box-sizing: border-box;
  padding: 0.8rem 1.6rem;
  border-radius: 5px;
  cursor: pointer;
}

.btnContactDiv {
  text-align: center;
  margin-top: 2.2rem;
}

.contactInputField {
  margin-left: 15px;
  display: block;
  text-align: center;
  width: 560px;
  height: 140px;
  border-radius: 20px;
}

.contactInputField::after {
  border-style: none;
  border-color: none;
}

.mainModal {
  display: flex;
  justify-content: center;
  align-items: stretch;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(0, 0, 0, 0.5);
  padding-top: 8%;
}

.modalBdy {
  position: fixed;
  width: 1000px;
  height: 1000px;
  background-color: aliceblue;
}

.modalContent {
  display: flex;
  justify-content: center;
  background-color: aliceblue;
  height: 600px;
  width: 700px;
}

/* ABOUT PAGE*/
