
#root{
  width: 100%;
  height: 100%;
}

*{
  margin: 0px;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background-image: linear-gradient(to right, #8e9eab, #eef2f3);
    background-repeat: no-repeat;
}


/*Text below navbar  */
.mainContainer{
  display: grid;
  height: auto;
  grid-template-areas: 
  "title title1"
  "employee employer"
  ;
  grid-template-rows: 150px 1fr;
  grid-template-columns: 1fr 1fr;
  margin-top: 40px;
  margin-bottom: 0;
}

.textEmployee{
  grid-area: title;
  margin-top: 30px;
}

.textEmployer{
  grid-area: title1;
  margin-top: 30px;
}

.employee{
  grid-area: employee;
  margin-bottom: 80px;
}

.employer{
  grid-area: employer; 
    margin-bottom: 80px;
}



.titleHire{
  margin-top: 2rem;
  margin-left: 125px;
  color: black;

}


.parrHire{
  margin-top: 0.65rem;
  margin-left: 125px;
  color: black;
  font-size: 1.15rem;
}

.discover{
  color: rgb(67, 67, 67);
  font-weight: 600;
  font-size: inherit;
}
/* Text below navbar */



.listingEmployer{
  grid-area: main;
}
.filterBtnEmployer{
  grid-area: buttons;
}

.listing-container{
  display: flex;
  justify-content: center;
  width: 650px;
  height: 200px;
  margin-top: 30px;
  margin-left: 100px;
  margin-bottom: 20px;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 4px 4px 5px black;
  border-radius: 30px;
}

.profilePhoto{
  height: 100px;
  max-width: 100px;
  border-radius: 40px;
  margin-right: 50px;
  margin-left: 10px;
  box-shadow: 2.5px 2.5px 8px black;
}

.listing-mainbox{
margin-left: 0px;
width: 280px;

}

.employeeLabels{
margin-top: 10px;
font-size: 20px;
color: #333d44;
}


.fieldAtOrg{
    cursor: pointer;
    font-size: 1.4rem;
    color: #03599b;
    border-radius: 15px;
}

.fieldAtOrg:hover{
  color: #033a64;
  text-decoration: underline;
  
}
 .openModalBtn{
  padding: 10px 20px;
  margin-left: 12px;
  background-color: #1976d2;
  color: white;
  border-radius: 5px;
  font-size: 15px;
  border: none;
  
}

.openModalBtn:active{
background-color: #2f3a41;
}


.buttons{
  display: flex;
  width: 620px;
  height: 60px;
  overflow: auto;
  justify-content: center;
  padding: 5px 0px;
  margin-top: 20px;
  margin-left: 120px;
  border-radius: 20px;;
  background-color: #d8d8d8;
  box-shadow: 4px 4px 3px black;
}

.newButt{
  width: 90px;
  color: white;
  background-color: #1976d2;
  border: none;
  border-radius: 5px;
  padding: 10px 5px;
  margin: 3px 15px;
  
  cursor: pointer;
}

.newButt:active{
  background-color: #2f3a41;

}

.item-con{
  width: 650px;
}


@media only screen and (max-width: 1400px) {
  .mainContainer{
  display: grid;
  height: auto;
  grid-template-areas: 
  "title"
  "employee"
  "title1"
  "employer"
  ;
  grid-template-rows: 0.3fr 0.7fr 0.1fr 0.7fr;
  grid-template-columns: 1fr;
  justify-content: center;
  margin-top: 70px;
}


.textEmployer{
  margin-top: 40px;
}

.content-container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.listing-container{
  margin: 20px 0px;
}

.filterBtnEmployee{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.filterBtnEmployer{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.buttons{
  margin: 0;
}

.textEmployee{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

.textEmployer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

.titleHire{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-top: 20px;
}

.parrHire{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-top: 20px;
}
}

@media only screen and (max-width: 1700px) {

.buttons{
  width: 600px;
  height: 60px;
  overflow: auto;
  padding-top: 10px;
  margin-top: 10px;

  border-radius: 20px;;
  background-color: #d8d8d8;
  box-shadow: 4px 4px 3px black;
}

.newButt{
  width: 90px;
}
}

@media only screen and (max-width: 900px) {
  .textEmployee{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttons{
  width: 600px;
  height: 60px;
  overflow: auto;
  padding-top: 5px;
  margin-top: 10px;

  border-radius: 20px;;
  background-color: #d8d8d8;
  box-shadow: 4px 4px 3px black;
}

.newButt{
  width: 90px;
}
}


@media only screen and (max-width: 700px) {

  .item-con{
    display: flex;
    justify-content: center;
  }


  .listing-container{
    width: 500px;

  }

  .textEmployee{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-top: 90px; */
}

.buttons{
  width: 80%;
  height: 60px;
  overflow: hidden;
  padding-top: 5px;
  margin-top: 10px;

  border-radius: 20px;;
  background-color: #d8d8d8;
  box-shadow: 4px 4px 3px black;
}

.newButt{
  width: 90px;
}

.openModalBtn{
  width: 100px;
  height: 60px;
  margin-right: 10px;
}
}

@media only screen and (max-width: 500px) {

  .mainContainer{
  display: grid;
  grid-template-areas: 
  "title"
  "employee"
  "title1"
  "employer"
  ;
  grid-template-rows: 0.1fr 0.7fr 0.1fr 0.7fr;
  grid-template-columns: 1fr;
  justify-content: center;
  margin-top: 0px;
}

  .textEmployee{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 200px;
}


  .item-con{
    display: flex;
    justify-content: center;
  }


  .listing-container{
    width: 380px;

  }


.buttons{
  width: 100vw;
  height: 50px;
  padding-top: 5px;


  border-radius: 20px;;
  background-color: #d8d8d8;
  box-shadow: 4px 4px 3px black;
}

.newButt{
  width: 70px;
  height: 30px;
  font-size: 0.6rem;

}

.openModalBtn{
  width: 80px;
  height: 50px;
  margin-right: 10px;
  font-size: 0.7rem;
}

.employeeLabels{
  font-size: 1rem;
}
}